In [1]:
import warnings
warnings.filterwarnings('ignore')

### Prepare LLM

In [2]:
import json
import os
from typing import Annotated
from autogen import ConversableAgent, initiate_chats
from semantic_search_tools import SemanticSearchTool

os.environ['OPENAI_API_KEY'] = 'your-openai-api-key'
llm_config = {"model": "gpt-3.5-turbo"}

db_schema_search_tool = SemanticSearchTool()

### Prepare experiment data

In [3]:
from spider_env import SpiderEnv

spider = SpiderEnv(cache_dir='spider')

# select a random question in Spider
observation, info = spider.reset()
question = observation["instruction"]
print('question:', question)
print('gold query:', info['gold_query'])
print('gold result:', info['gold_result'])

Loading cached Spider dataset from spider
Schema file not found for spider/spider/database/small_bank_1
Schema file not found for spider/spider/database/icfp_1
Schema file not found for spider/spider/database/epinions_1
Schema file not found for spider/spider/database/flight_4
Schema file not found for spider/spider/database/company_1
Schema file not found for spider/spider/database/twitter_1
Schema file not found for spider/spider/database/chinook_1
question: Find the famous titles of artists that do not have any volume.
gold query: SELECT Famous_Title FROM artist WHERE Artist_ID NOT IN(SELECT Artist_ID FROM volume)
gold result: [('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]

### Create Agents

In [4]:
with open('agents/autogen.json') as f:
    agent_config = json.load(f)

search_agent = ConversableAgent(
    **agent_config['assistant_dba'],
    llm_config=llm_config,
    human_input_mode='NEVER'
)
sql_writer_agent = ConversableAgent(
    **agent_config['senior_sql_writer'],
    llm_config=llm_config,
    human_input_mode='NEVER'
)
qa_agent = ConversableAgent(
    **agent_config['senior_qa_engineer'],
    llm_config=llm_config,
    human_input_mode='NEVER'
)

# user proxy
user_proxy = ConversableAgent(
    name="Admin",
    system_message="Give the question, and send instructions to SQL writer to generate a sql query script.",
    code_execution_config=False,
    llm_config=llm_config,
    human_input_mode='NEVER'
)

### Register Tools

In [5]:
@search_agent.register_for_llm(description='Function for searching relevant database/table schemas')
@user_proxy.register_for_execution()
def semantic_search(
    question: Annotated[str, 'A question'] 
) -> Annotated[str, 'Result of relevant table schemas to answer the input question']:
    return db_schema_search_tool(question)

### Prepare SequenceChat

In [6]:
chats = [
    {
        "sender": user_proxy,
        "recipient": search_agent,
        "message": f'Generate a SQL query script to answer the question: {question}',
        "summary_method": "reflection_with_llm",
        "max_turns": 2,
        "clear_history" : True
    },
    {
        "sender": search_agent,
        "recipient": sql_writer_agent,
        "message": f'Based on the table schemas, write a SQL query script to answer the question: {question}',
        "summary_method": "reflection_with_llm",
        "summary_args": {
            "summary_prompt" : "Return the target database and SQL query script into as JSON object only, DO NOT explain reason: "
                             "{'database': '', 'sql': ''}",
        },
        "max_turns": 1,
        "clear_history" : False
    },
    {
        "sender": sql_writer_agent,
        "recipient": qa_agent,
        "message": f'Review the SQL query script to be sure it can answer the question: {question}',
        "max_turns": 1,
        "summary_method": "reflection_with_llm",
        "summary_args": {
            "summary_prompt" : "If the SQL query script has to be adjusted. Fix the SQL query script."
                             "Return the target database and SQL query script into as JSON object only, DO NOT explain reason: "
                             "{'database': '', 'sql': ''}",
        },
    },
]

### Initiate Chat

In [7]:
chat_results = initiate_chats(chats)

********************************************************************************
Starting a new chat....

********************************************************************************
Admin (to Assistant_Search_Engineer):

Generate a SQL query script to answer the question: Find the famous titles of artists that do not have any volume.

--------------------------------------------------------------------------------
Assistant_Search_Engineer (to Admin):

***** Suggested tool call (call_tnPSAxCmqmLj0vClrrdXudgJ): semantic_search *****
Arguments:
{"question":"famous titles of artists that do not have any volume"}
********************************************************************************

--------------------------------------------------------------------------------

>>>>>>>> EXECUTING FUNCTION semantic_search...
Admin (to Assistant_Search_Engineer):

Admin (to Assistant_Search_Engineer):

***** Response from calling tool (call_tnPSAxCmqmLj0vClrrdXudgJ) *****
{"database": "theme_gallery", "table": "artist", "schema": "CREATE TABLE \"artist\" (\n\"Artist_ID\" int,\n\"Name\" text,\n\"Country\" text,\n\"Year_Join\" int,\n\"Age\" int,\nPRIMARY KEY (\"Artist_ID\")\n)"}

{"database": "music_4", "table": "artist", "schema": "CREATE TABLE \"artist\" (\n\"Artist_ID\" int,\n\"Artist\" text,\n\"Age\" int,\n\"Famous_Title\" text,\n\"Famous_Release_date\" text,\nPRIMARY KEY (\"Artist_ID\")\n)"}

{"database": "music_4", "table": "volume", "schema": "CREATE TABLE \"volume\" (\n\"Volume_ID\" int,\n\"Volume_Issue\" text,\n\"Issue_Date\" text,\n\"Weeks_on_Top\" real,\n\"Song\" text,\n\"Artist_ID\" int,\nPRIMARY KEY (\"Volume_ID\"),\nFOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)\n)"}

{"database": "chinook_1", "table": "Album", "schema": "CREATE TABLE `Album` (\n  `AlbumId` integer NOT NULL\n,  `Title` varchar(160) NOT NULL\n,  `ArtistId` integer NOT NULL\n,  PRIMARY KEY (`AlbumId`)\n,  CONSTRAINT `FK_AlbumArtistId` FOREIGN KEY (`ArtistId`) REFERENCES `Artist` (`ArtistId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "chinook_1", "table": "Artist", "schema": "CREATE TABLE `Artist` (\n  `ArtistId` integer NOT NULL\n,  `Name` varchar(120) DEFAULT NULL\n,  PRIMARY KEY (`ArtistId`)\n)"}

{"database": "music_1", "table": "artist", "schema": "CREATE TABLE artist(\n\tartist_name varchar2(50) not null,\n\tcountry varchar2(20),\n\tgender varchar2(20),\n\tpreferred_genre varchar2(50),\n\tconstraint a_name primary key(artist_name),\n\tforeign key(preferred_genre) references genre(g_name) ON DELETE CASCADE\n)"}

{"database": "store_1", "table": "albums", "schema": "CREATE TABLE albums\n(\nid INTEGER PRIMARY KEY AUTOINCREMENT,\ntitle VARCHAR(160)  NOT NULL,\nartist_id INTEGER  NOT NULL,\nFOREIGN KEY (artist_id) REFERENCES artists (id)\nON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "store_1", "table": "artists", "schema": "CREATE TABLE artists\n(\nid INTEGER PRIMARY KEY AUTOINCREMENT,\nname VARCHAR(120)\n)"}

{"database": "singer", "table": "singer", "schema": "CREATE TABLE \"singer\" (\n\"Singer_ID\" int,\n\"Name\" text,\n\"Birth_Year\" real,\n\"Net_Worth_Millions\" real,\n\"Citizenship\" text,\nPRIMARY KEY (\"Singer_ID\")\n)"}

{"database": "chinook_1", "table": "Track", "schema": "CREATE TABLE `Track` (\n  `TrackId` integer NOT NULL\n,  `Name` varchar(200) NOT NULL\n,  `AlbumId` integer DEFAULT NULL\n,  `MediaTypeId` integer NOT NULL\n,  `GenreId` integer DEFAULT NULL\n,  `Composer` varchar(220) DEFAULT NULL\n,  `Milliseconds` integer NOT NULL\n,  `Bytes` integer DEFAULT NULL\n,  `UnitPrice` decimal(10,2) NOT NULL\n,  PRIMARY KEY (`TrackId`)\n,  CONSTRAINT `FK_TrackAlbumId` FOREIGN KEY (`AlbumId`) REFERENCES `Album` (`AlbumId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n,  CONSTRAINT `FK_TrackGenreId` FOREIGN KEY (`GenreId`) REFERENCES `Genre` (`GenreId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n,  CONSTRAINT `FK_TrackMediaTypeId` FOREIGN KEY (`MediaTypeId`) REFERENCES `MediaType` (`MediaTypeId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

**********************************************************************

--------------------------------------------------------------------------------
Assistant_Search_Engineer (to Admin):

The relevant table schemas for finding the famous titles of artists that do not have any volume are:

1. Database: music_4
   Table: artist
   Schema:
   ```sql
   CREATE TABLE "artist" (
   "Artist_ID" int,
   "Artist" text,
   "Age" int,
   "Famous_Title" text,
   "Famous_Release_date" text,
   PRIMARY KEY ("Artist_ID")
   )
   ```

2. Database: music_4
   Table: volume
   Schema:
   ```sql
   CREATE TABLE "volume" (
   "Volume_ID" int,
   "Volume_Issue" text,
   "Issue_Date" text,
   "Weeks_on_Top" real,
   "Song" text,
   "Artist_ID" int,
   PRIMARY KEY ("Volume_ID"),
   FOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)
   )
   ```

These tables can be used to write a SQL query script to find the famous titles of artists that do not have any volume.

--------------------------------------------------------------------------------

********************************************************************************
Starting a new chat....

********************************************************************************
Assistant_Search_Engineer (to Senior_Database_SQL_query_Writer):

Based on the table schemas, write a SQL query script to answer the question: Find the famous titles of artists that do not have any volume.
Context:
The relevant table schemas for finding the famous titles of artists that do not have any volume are from the "music_4" database. The "artist" table contains information about artists including their famous titles, and the "volume" table contains information about volumes with references to artists. These tables can be used to write a SQL query to find the famous titles of artists without any volume.

--------------------------------------------------------------------------------
Senior_Database_SQL_query_Writer (to Assistant_Search_Engineer):

Sure, here is the SQL query script that can be used to find the famous titles of artists that do not have any volume:

```sql
SELECT a.famous_title
FROM artist a
LEFT JOIN volume v ON a.artist_id = v.artist_id
WHERE v.artist_id IS NULL
```

In this query:
1. We are selecting the famous_title column from the artist table.
2. We are performing a LEFT JOIN between the artist table and the volume table on the artist_id column.
3. We are filtering the result to only include rows where the artist does not have any corresponding row in the volume table (v.artist_id IS NULL).

This query will return the famous titles of artists that do not have any volume associated with them.

--------------------------------------------------------------------------------

********************************************************************************
Starting a new chat....

********************************************************************************
Senior_Database_SQL_query_Writer (to Senior_Database_SQL_script_Quality_Assurance_Engineer):

Review the SQL query script to be sure it can answer the question: Find the famous titles of artists that do not have any volume.
Context:
The relevant table schemas for finding the famous titles of artists that do not have any volume are from the "music_4" database. The "artist" table contains information about artists including their famous titles, and the "volume" table contains information about volumes with references to artists. These tables can be used to write a SQL query to find the famous titles of artists without any volume.
{'database': 'music_4', 'sql': 'SELECT a.famous_title FROM artist a LEFT JOIN volume v ON a.artist_id = v.artist_id WHERE v.artist_id IS NULL'}

--------------------------------------------------------------------------------
Senior_Database_SQL_script_Quality_Assurance_Engineer (to Senior_Database_SQL_query_Writer):

The SQL query appears to be designed to find the famous titles of artists that do not have any volume. Here are some suggestions and potential issues to consider for improvement:

1. Check Table Names and Schema: Ensure that the table names and column names used in the query match the actual schemas of the "artist" and "volume" tables in the "music_4" database. Verify that "famous_title" and "artist_id" are valid columns in the correct tables.

2. Aliasing: Using aliases like "a" for "artist" and "v" for "volume" is a good practice to make the query more readable. Just ensure that these aliases are consistent with the actual table names.

3. Join Type: The LEFT JOIN used in the query is appropriate for this scenario as it will include records from the "artist" table even if there are no matching records in the "volume" table. However, make sure that the join condition "a.artist_id = v.artist_id" is correct based on the table schemas.

4. WHERE Condition: The condition "v.artist_id IS NULL" in the WHERE clause is correct for filtering out artists that do not have any volume associated with them. Double-check that this condition accurately identifies such cases.

5. Test the Query: Before running the query in the database, it's advisable to test it with sample data to ensure it produces the expected results. This can help identify any potential logic errors or issues.

Overall, the query seems on the right track for identifying famous titles of artists without any volume entries. Make sure to verify the table schemas, column names, and data to ensure the query functions as intended.

--------------------------------------------------------------------------------

In [8]:
print(chat_results[-1].summary)

{'database': 'music_4', 'sql': 'SELECT a.famous_title FROM artist a LEFT JOIN volume v ON a.artist_id = v.artist_id WHERE v.artist_id IS NULL'}

### Compare with gold result

In [9]:
import sqlite3

con = sqlite3.connect('spider/spider/database/music_4/music_4.sqlite')
cursor = con.cursor()
cursor.execute('SELECT a.famous_title FROM artist a LEFT JOIN volume v ON a.artist_id = v.artist_id WHERE v.artist_id IS NULL')
results = cursor.fetchall()
print(results)

[('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]

In [10]:
print(info['gold_result'])

[('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]