In [1]:
import warnings
warnings.filterwarnings('ignore')

### Prepare LLM

In [2]:
import json
import os
from crewai import Agent, Task, Crew

os.environ['OPENAI_API_KEY'] = 'your-openai-api-key'
os.environ["OPENAI_MODEL_NAME"] = 'gpt-4o-mini'

### Prepare Tools

In [3]:
from crewai_tools import BaseTool
from app.core.tools.semantic_search_tools import SemanticSearchTool

class SemanticSearchToolForCrewAI(BaseTool):
    name: str ="Search database and table schemas tool"
    description: str = ("Useful to search database and table schemas from vector DB, "
                        "about a given question and return relevant database andtable schemas")
    semantic_search_tool: SemanticSearchTool = None

    def __init__(self, n_results=10, **kwargs):
        super().__init__(**kwargs)
        self.semantic_search_tool = SemanticSearchTool(n_results, **kwargs)

    def _run(self, question: str) -> str:
        return self.semantic_search_tool(question)

# Notes: you can expand n_results to make sure the search results cover final tables, e.g., n_results=50
db_schema_search_tool = SemanticSearchToolForCrewAI(n_results=10)

### Prepare experiment data

In [4]:
from spider_env import SpiderEnv

spider = SpiderEnv(cache_dir='spider')

# select a random question in Spider
observation, info = spider.reset()
question = observation["instruction"]
print('question:', question)
print('gold query:', info['gold_query'])
print('gold result:', info['gold_result'])

Loading cached Spider dataset from spider
Schema file not found for spider/spider/database/epinions_1
Schema file not found for spider/spider/database/small_bank_1
Schema file not found for spider/spider/database/twitter_1
Schema file not found for spider/spider/database/icfp_1
Schema file not found for spider/spider/database/flight_4
Schema file not found for spider/spider/database/company_1
Schema file not found for spider/spider/database/chinook_1
question: Find the famous titles of artists that do not have any volume.
gold query: SELECT Famous_Title FROM artist WHERE Artist_ID NOT IN(SELECT Artist_ID FROM volume)
gold result: [('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]

### Create Agents

In [5]:
with open('app/core/agents/crewai.json') as f:
    agent_config = json.load(f)

search_agent = Agent(**agent_config['assistant_dba'], tools=[db_schema_search_tool])
sql_writer_agent = Agent(**agent_config['senior_sql_writer'])
qa_agent = Agent(**agent_config['senior_qa_engineer'])

### Create Tasks

In [6]:
search_task = Task(
    description='Using search tools to find related database/table candidates, and consolidate all relevant tables that belong the same database for information needed to answer the following question:\n{question}',
    expected_output="Return relevant database and tables' schema.",
    agent=search_agent
)
sql_writer_task = Task(
    description='Based on the database/table schemas, generate a SQL query to answer the following question:\n{question}',
    expected_output="MUST BE ONLY a valid database sql script with required fields, don't add unnecessary fields.",
    agent=sql_writer_agent
)
qa_task = Task(
    description="Check the given sql query carefully, and refine the sql query if necessary to make it fulfill the needs of the following question:\n{question}",
    expected_output="The final sql query. MUST BE ONLY a valid sql script with required fields, don't add unnecessary fields, and must be consistent with table schemas.",
    agent=qa_agent,
    context=[search_task, sql_writer_task]
)

### set-up a Crew

In [7]:
text2sql_crew = Crew(
    agents=[
        search_agent,
        sql_writer_agent,
        qa_agent,
    ],
    tasks=[
        search_task,
        sql_writer_task,
        qa_task,
    ],
    verbose=True
)

### Prepare inputs (question)

In [8]:
text2sql_inputs = {
    'question': question
}

### Kickoff crew actions

In [9]:
result = text2sql_crew.kickoff(inputs=text2sql_inputs)

 [2024-07-20 07:28:10][DEBUG]: == Working Agent: Assistant Search Engineer
 [2024-07-20 07:28:10][INFO]: == Starting Task: Using search tools to find related database/table candidates, and consolidate all relevant tables that belong the same database for information needed to answer the following question:
Find the famous titles of artists that do not have any volume.


> Entering new CrewAgentExecutor chain...
I need to find relevant databases and tables that can help answer the question about famous titles of artists that do not have any volume. I'll start by searching for schemas related to artists, titles, and volumes.

Action: Search database and table schemas tool
Action Input: {"question": "famous titles of artists that do not have any volume"}

{"database": "theme_gallery", "table": "artist", "schema": "CREATE TABLE \"artist\" (\n\"Artist_ID\" int,\n\"Name\" text,\n\"Country\" text,\n\"Year_Join\" int,\n\"Age\" int,\nPRIMARY KEY (\"Artist_ID\")\n)"}

{"database": "music_4", "table": "artist", "schema": "CREATE TABLE \"artist\" (\n\"Artist_ID\" int,\n\"Artist\" text,\n\"Age\" int,\n\"Famous_Title\" text,\n\"Famous_Release_date\" text,\nPRIMARY KEY (\"Artist_ID\")\n)"}

{"database": "music_4", "table": "volume", "schema": "CREATE TABLE \"volume\" (\n\"Volume_ID\" int,\n\"Volume_Issue\" text,\n\"Issue_Date\" text,\n\"Weeks_on_Top\" real,\n\"Song\" text,\n\"Artist_ID\" int,\nPRIMARY KEY (\"Volume_ID\"),\nFOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)\n)"}

{"database": "chinook_1", "table": "Album", "schema": "CREATE TABLE `Album` (\n  `AlbumId` integer NOT NULL\n,  `Title` varchar(160) NOT NULL\n,  `ArtistId` integer NOT NULL\n,  PRIMARY KEY (`AlbumId`)\n,  CONSTRAINT `FK_AlbumArtistId` FOREIGN KEY (`ArtistId`) REFERENCES `Artist` (`ArtistId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "chinook_1", "table": "Artist", "schema": "CREATE TABLE `Artist` (\n  `ArtistId` integer NOT NULL\n,  `Name` varchar(120) DEFAULT NULL\n,  PRIMARY KEY (`ArtistId`)\n)"}

{"database": "music_1", "table": "artist", "schema": "CREATE TABLE artist(\n\tartist_name varchar2(50) not null,\n\tcountry varchar2(20),\n\tgender varchar2(20),\n\tpreferred_genre varchar2(50),\n\tconstraint a_name primary key(artist_name),\n\tforeign key(preferred_genre) references genre(g_name) ON DELETE CASCADE\n)"}

{"database": "store_1", "table": "albums", "schema": "CREATE TABLE albums\n(\nid INTEGER PRIMARY KEY AUTOINCREMENT,\ntitle VARCHAR(160)  NOT NULL,\nartist_id INTEGER  NOT NULL,\nFOREIGN KEY (artist_id) REFERENCES artists (id)\nON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "store_1", "table": "artists", "schema": "CREATE TABLE artists\n(\nid INTEGER PRIMARY KEY AUTOINCREMENT,\nname VARCHAR(120)\n)"}

{"database": "singer", "table": "singer", "schema": "CREATE TABLE \"singer\" (\n\"Singer_ID\" int,\n\"Name\" text,\n\"Birth_Year\" real,\n\"Net_Worth_Millions\" real,\n\"Citizenship\" text,\nPRIMARY KEY (\"Singer_ID\")\n)"}

{"database": "chinook_1", "table": "Track", "schema": "CREATE TABLE `Track` (\n  `TrackId` integer NOT NULL\n,  `Name` varchar(200) NOT NULL\n,  `AlbumId` integer DEFAULT NULL\n,  `MediaTypeId` integer NOT NULL\n,  `GenreId` integer DEFAULT NULL\n,  `Composer` varchar(220) DEFAULT NULL\n,  `Milliseconds` integer NOT NULL\n,  `Bytes` integer DEFAULT NULL\n,  `UnitPrice` decimal(10,2) NOT NULL\n,  PRIMARY KEY (`TrackId`)\n,  CONSTRAINT `FK_TrackAlbumId` FOREIGN KEY (`AlbumId`) REFERENCES `Album` (`AlbumId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n,  CONSTRAINT `FK_TrackGenreId` FOREIGN KEY (`GenreId`) REFERENCES `Genre` (`GenreId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n,  CONSTRAINT `FK_TrackMediaTypeId` FOREIGN KEY (`MediaTypeId`) REFERENCES `MediaType` (`MediaTypeId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n)"}


Thought: I have found several relevant databases and tables that might contain the information about famous titles of artists and volumes. I need to consolidate the relevant tables from the same databases to provide a comprehensive answer.

Relevant databases and their tables:
1. **music_4**
   - Table: artist
     ```
     CREATE TABLE "artist" (
     "Artist_ID" int,
     "Artist" text,
     "Age" int,
     "Famous_Title" text,
     "Famous_Release_date" text,
     PRIMARY KEY ("Artist_ID")
     )
     ```
   - Table: volume
     ```
     CREATE TABLE "volume" (
     "Volume_ID" int,
     "Volume_Issue" text,
     "Issue_Date" text,
     "Weeks_on_Top" real,
     "Song" text,
     "Artist_ID" int,
     PRIMARY KEY ("Volume_ID"),
     FOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)
     )
     ```

2. **chinook_1**
   - Table: Album
     ```
     CREATE TABLE `Album` (
       `AlbumId` integer NOT NULL,
       `Title` varchar(160) NOT NULL,
       `ArtistId` integer NOT NULL,
       PRIMARY KEY (`AlbumId`),
       CONSTRAINT `FK_AlbumArtistId` FOREIGN KEY (`ArtistId`) REFERENCES `Artist` (`ArtistId`) ON DELETE NO ACTION ON UPDATE NO ACTION
     )
     ```
   - Table: Artist
     ```
     CREATE TABLE `Artist` (
       `ArtistId` integer NOT NULL,
       `Name` varchar(120) DEFAULT NULL,
       PRIMARY KEY (`ArtistId`)
     )
     ```

3. **store_1**
   - Table: albums
     ```
     CREATE TABLE albums
     (
     id INTEGER PRIMARY KEY AUTOINCREMENT,
     title VARCHAR(160)  NOT NULL,
     artist_id INTEGER  NOT NULL,
     FOREIGN KEY (artist_id) REFERENCES artists (id)
     ON DELETE NO ACTION ON UPDATE NO ACTION
     )
     ```
   - Table: artists
     ```
     CREATE TABLE artists
     (
     id INTEGER PRIMARY KEY AUTOINCREMENT,
     name VARCHAR(120)
     )
     ```

I can see how these tables can provide insight into the famous titles of artists and their relationship with volumes.

Final Answer:
1. **Database: music_4**
   - **Table: artist**
     ```
     CREATE TABLE "artist" (
     "Artist_ID" int,
     "Artist" text,
     "Age" int,
     "Famous_Title" text,
     "Famous_Release_date" text,
     PRIMARY KEY ("Artist_ID")
     )
     ```
   - **Table: volume**
     ```
     CREATE TABLE "volume" (
     "Volume_ID" int,
     "Volume_Issue" text,
     "Issue_Date" text,
     "Weeks_on_Top" real,
     "Song" text,
     "Artist_ID" int,
     PRIMARY KEY ("Volume_ID"),
     FOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)
     )
     ```

2. **Database: chinook_1**
   - **Table: Album**
     ```
     CREATE TABLE `Album` (
       `AlbumId` integer NOT NULL,
       `Title` varchar(160) NOT NULL,
       `ArtistId` integer NOT NULL,
       PRIMARY KEY (`AlbumId`),
       CONSTRAINT `FK_AlbumArtistId` FOREIGN KEY (`ArtistId`) REFERENCES `Artist` (`ArtistId`) ON DELETE NO ACTION ON UPDATE NO ACTION
     )
     ```
   - **Table: Artist**
     ```
     CREATE TABLE `Artist` (
       `ArtistId` integer NOT NULL,
       `Name` varchar(120) DEFAULT NULL,
       PRIMARY KEY (`ArtistId`)
     )
     ```

3. **Database: store_1**
   - **Table: albums**
     ```
     CREATE TABLE albums
     (
     id INTEGER PRIMARY KEY AUTOINCREMENT,
     title VARCHAR(160)  NOT NULL,
     artist_id INTEGER  NOT NULL,
     FOREIGN KEY (artist_id) REFERENCES artists (id)
     ON DELETE NO ACTION ON UPDATE NO ACTION
     )
     ```
   - **Table: artists**
     ```
     CREATE TABLE artists
     (
     id INTEGER PRIMARY KEY AUTOINCREMENT,
     name VARCHAR(120)
     )
     ```

> Finished chain.
 [2024-07-20 07:28:30][DEBUG]: == [Assistant Search Engineer] Task output: 1. **Database: music_4**
   - **Table: artist**
     ```
     CREATE TABLE "artist" (
     "Artist_ID" int,
     "Artist" text,
     "Age" int,
     "Famous_Title" text,
     "Famous_Release_date" text,
     PRIMARY KEY ("Artist_ID")
     )
     ```
   - **Table: volume**
     ```
     CREATE TABLE "volume" (
     "Volume_ID" int,
     "Volume_Issue" text,
     "Issue_Date" text,
     "Weeks_on_Top" real,
     "Song" text,
     "Artist_ID" int,
     PRIMARY KEY ("Volume_ID"),
     FOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)
     )
     ```

2. **Database: chinook_1**
   - **Table: Album**
     ```
     CREATE TABLE `Album` (
       `AlbumId` integer NOT NULL,
       `Title` varchar(160) NOT NULL,
       `ArtistId` integer NOT NULL,
       PRIMARY KEY (`AlbumId`),
       CONSTRAINT `FK_AlbumArtistId` FOREIGN KEY (`ArtistId`) REFERENCES `Artist` (`ArtistId`) ON DELETE NO ACTION ON UPDATE NO ACTION
     )
     ```
   - **Table: Artist**
     ```
     CREATE TABLE `Artist` (
       `ArtistId` integer NOT NULL,
       `Name` varchar(120) DEFAULT NULL,
       PRIMARY KEY (`ArtistId`)
     )
     ```

3. **Database: store_1**
   - **Table: albums**
     ```
     CREATE TABLE albums
     (
     id INTEGER PRIMARY KEY AUTOINCREMENT,
     title VARCHAR(160)  NOT NULL,
     artist_id INTEGER  NOT NULL,
     FOREIGN KEY (artist_id) REFERENCES artists (id)
     ON DELETE NO ACTION ON UPDATE NO ACTION
     )
     ```
   - **Table: artists**
     ```
     CREATE TABLE artists
     (
     id INTEGER PRIMARY KEY AUTOINCREMENT,
     name VARCHAR(120)
     )
     ```


 [2024-07-20 07:28:30][DEBUG]: == Working Agent: Senior Database SQL query Writer
 [2024-07-20 07:28:30][INFO]: == Starting Task: Based on the database/table schemas, generate a SQL query to answer the following question:
Find the famous titles of artists that do not have any volume.


> Entering new CrewAgentExecutor chain...
I now can give a great answer
Final Answer:
```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL;
```

> Finished chain.
 [2024-07-20 07:28:32][DEBUG]: == [Senior Database SQL query Writer] Task output: ```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL;
```


 [2024-07-20 07:28:32][DEBUG]: == Working Agent: Senior Database SQL script Quality Assurance Engineer
 [2024-07-20 07:28:32][INFO]: == Starting Task: Check the given sql query carefully, and refine the sql query if necessary to make it fulfill the needs of the following question:
Find the famous titles of artists that do not have any volume.


> Entering new CrewAgentExecutor chain...
I need to check the provided SQL query against the requirements and the database schema to ensure it correctly finds the famous titles of artists that do not have any volume. I will analyze the SQL query for potential errors, inconsistencies, and whether it meets the needs of the question.

The provided SQL query is:
```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL;
```

1. **Schema Review**:
   - The `artist` table has `Artist_ID`, `Artist`, `Age`, `Famous_Title`, and `Famous_Release_date`.
   - The `volume` table has `Volume_ID`, `Volume_Issue`, `Issue_Date`, `Weeks_on_Top`, `Song`, and `Artist_ID`.

2. **Logic Check**:
   - The query uses a `LEFT JOIN`, which is appropriate for finding records in `artist` that do not have corresponding records in `volume`.
   - The condition `WHERE v.Artist_ID IS NULL` correctly filters out artists who do not have any volume.

3. **Field Relevance**:
   - The query selects only `Famous_Title`, which is relevant to the question.

4. **Final Check**:
   - The SQL syntax appears to be correct.
   - The logic of finding artists without any volume is implemented properly.

Since the query seems to fulfill the requirements without any syntax or logical errors, I will finalize it.

Thought: I now know the final answer
Final Answer:
```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL;
```

> Finished chain.
 [2024-07-20 07:28:36][DEBUG]: == [Senior Database SQL script Quality Assurance Engineer] Task output: ```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL;
```

In [10]:
print(result)

```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL;
```

### Compare with gold result

In [11]:
import sqlite3

con = sqlite3.connect('spider/spider/database/music_4/music_4.sqlite')
cursor = con.cursor()
cursor.execute("""SELECT a.Famous_Title 
FROM artist a 
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID 
WHERE v.Artist_ID IS NULL;""")
results = cursor.fetchall()
print(results)

[('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]

In [12]:
print(info['gold_result'])

[('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]