In [1]:
import warnings
warnings.filterwarnings('ignore')

### Prepare LLM

In [2]:
import json
import os
from crewai import Agent, Task, Crew
from semantic_search_tools import SemanticSearchTool

os.environ['OPENAI_API_KEY'] = 'your-openai-api-key'
os.environ["OPENAI_MODEL_NAME"] = 'gpt-3.5-turbo'

db_schema_search_tool = SemanticSearchTool(n_results=10)

### Prepare experiment data

In [3]:
from spider_env import SpiderEnv

spider = SpiderEnv()

# select a random question in Spider
observation, info = spider.reset()
question = observation["instruction"]
print('question:', question)
print('gold query:', info['gold_query'])
print('gold result:', info['gold_result'])

Loading cached Spider dataset from /Users/bearpig/.cache/spider
Schema file not found for /Users/bearpig/.cache/spider/spider/database/icfp_1
Schema file not found for /Users/bearpig/.cache/spider/spider/database/small_bank_1
Schema file not found for /Users/bearpig/.cache/spider/spider/database/epinions_1
Schema file not found for /Users/bearpig/.cache/spider/spider/database/company_1
Schema file not found for /Users/bearpig/.cache/spider/spider/database/flight_4
Schema file not found for /Users/bearpig/.cache/spider/spider/database/chinook_1
Schema file not found for /Users/bearpig/.cache/spider/spider/database/twitter_1
question: Find the famous titles of artists that do not have any volume.
gold query: SELECT Famous_Title FROM artist WHERE Artist_ID NOT IN(SELECT Artist_ID FROM volume)
gold result: [('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]

### Create Agents

In [4]:
with open('agents.json') as f:
    agent_config = json.load(f)

search_agent = Agent(**agent_config['assistant_dba'], tools=[db_schema_search_tool])
sql_writer_agent = Agent(**agent_config['senior_sql_writer'])
qa_agent = Agent(**agent_config['senior_qa_engineer'])
dba_agent = Agent(**agent_config['chief_dba'])

### Create Tasks

In [5]:
search_task = Task(
    description='Using search tools to find related database/table candidates, and consolidate all relevant tables that belong the same database for information needed to answer the following question:\n{question}',
    expected_output="Return relevant database and tables' schema.",
    agent=search_agent,
    tools=[db_schema_search_tool]
)
sql_writer_task = Task(
    description='Based on the searched database/table schemas, generate a SQL query to answer the following question:\n{question}',
    expected_output='MUST BE ONLY a valid databse sql script.',
    agent=sql_writer_agent
)
qa_task = Task(
    description='Check the given sql query carefully, and refine the sql query to make it fulfill the needs of the following question:\n{question}',
    expected_output='The refined sql query. MUST BE ONLY a valid databse sql script.',
    agent=qa_agent,
    context=[search_task]
)
dba_task = Task(
    description='You will look over the sql query to insure that it is complete and does the job that it is supposed to do which is generating a SQL query to answer the following question:\n{question}',
    expected_output='The final sql query. MUST BE ONLY a valid databse sql script and its database name.',
    agent=dba_agent,
    context=[search_task]
)

### set-up a Crew

In [6]:
text2sql_crew = Crew(
    agents=[
        search_agent,
        sql_writer_agent,
        qa_agent,
        dba_agent
    ],
    tasks=[
        search_task,
        sql_writer_task,
        qa_task,
        dba_task
    ],
    verbose=True
)

### Prepare inputs (question)

In [7]:
text2sql_inputs = {
    'question': question
}

### Kickoff crew actions

In [8]:
result = text2sql_crew.kickoff(inputs=text2sql_inputs)

 [DEBUG]: == Working Agent: Assistant Search Engineer
 [INFO]: == Starting Task: Using search tools to find related database/table candidates, and consolidate all relevant tables that belong the same database for information needed to answer the following question:
Find the famous titles of artists that do not have any volume.


> Entering new CrewAgentExecutor chain...
I should start by using the search database and table schemas tool to find relevant databases and tables related to famous titles of artists without any volume.

Action: Search database and table schemas tool
Action Input: {"question": "famous titles of artists without any volume"}

{"database": "theme_gallery", "table": "artist", "schema": "CREATE TABLE \"artist\" (\n\"Artist_ID\" int,\n\"Name\" text,\n\"Country\" text,\n\"Year_Join\" int,\n\"Age\" int,\nPRIMARY KEY (\"Artist_ID\")\n)"}

{"database": "music_4", "table": "artist", "schema": "CREATE TABLE \"artist\" (\n\"Artist_ID\" int,\n\"Artist\" text,\n\"Age\" int,\n\"Famous_Title\" text,\n\"Famous_Release_date\" text,\nPRIMARY KEY (\"Artist_ID\")\n)"}

{"database": "chinook_1", "table": "Artist", "schema": "CREATE TABLE `Artist` (\n  `ArtistId` integer NOT NULL\n,  `Name` varchar(120) DEFAULT NULL\n,  PRIMARY KEY (`ArtistId`)\n)"}

{"database": "chinook_1", "table": "Album", "schema": "CREATE TABLE `Album` (\n  `AlbumId` integer NOT NULL\n,  `Title` varchar(160) NOT NULL\n,  `ArtistId` integer NOT NULL\n,  PRIMARY KEY (`AlbumId`)\n,  CONSTRAINT `FK_AlbumArtistId` FOREIGN KEY (`ArtistId`) REFERENCES `Artist` (`ArtistId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "music_4", "table": "volume", "schema": "CREATE TABLE \"volume\" (\n\"Volume_ID\" int,\n\"Volume_Issue\" text,\n\"Issue_Date\" text,\n\"Weeks_on_Top\" real,\n\"Song\" text,\n\"Artist_ID\" int,\nPRIMARY KEY (\"Volume_ID\"),\nFOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)\n)"}

{"database": "store_1", "table": "artists", "schema": "CREATE TABLE artists\n(\nid INTEGER PRIMARY KEY AUTOINCREMENT,\nname VARCHAR(120)\n)"}

{"database": "music_1", "table": "artist", "schema": "CREATE TABLE artist(\n\tartist_name varchar2(50) not null,\n\tcountry varchar2(20),\n\tgender varchar2(20),\n\tpreferred_genre varchar2(50),\n\tconstraint a_name primary key(artist_name),\n\tforeign key(preferred_genre) references genre(g_name) ON DELETE CASCADE\n)"}

{"database": "entertainment_awards", "table": "artwork", "schema": "CREATE TABLE artwork (\n\"Artwork_ID\" int,\n\"Type\" text,\n\"Name\" text,\nPRIMARY KEY (\"Artwork_ID\")\n)"}

{"database": "store_1", "table": "albums", "schema": "CREATE TABLE albums\n(\nid INTEGER PRIMARY KEY AUTOINCREMENT,\ntitle VARCHAR(160)  NOT NULL,\nartist_id INTEGER  NOT NULL,\nFOREIGN KEY (artist_id) REFERENCES artists (id)\nON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "singer", "table": "singer", "schema": "CREATE TABLE \"singer\" (\n\"Singer_ID\" int,\n\"Name\" text,\n\"Birth_Year\" real,\n\"Net_Worth_Millions\" real,\n\"Citizenship\" text,\nPRIMARY KEY (\"Singer_ID\")\n)"}


Final Answer:
From the search results, the relevant databases and tables related to famous titles of artists without any volume are:

1. Database: music_4
   Table: artist
   Schema:
   CREATE TABLE "artist" (
   "Artist_ID" int,
   "Artist" text,
   "Age" int,
   "Famous_Title" text,
   "Famous_Release_date" text,
   PRIMARY KEY ("Artist_ID")
   )

2. Database: music_4
   Table: volume
   Schema:
   CREATE TABLE "volume" (
   "Volume_ID" int,
   "Volume_Issue" text,
   "Issue_Date" text,
   "Weeks_on_Top" real,
   "Song" text,
   "Artist_ID" int,
   PRIMARY KEY ("Volume_ID"),
   FOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)
   )

> Finished chain.
 [DEBUG]: == [Assistant Search Engineer] Task output: From the search results, the relevant databases and tables related to famous titles of artists without any volume are:

1. Database: music_4
   Table: artist
   Schema:
   CREATE TABLE "artist" (
   "Artist_ID" int,
   "Artist" text,
   "Age" int,
   "Famous_Title" text,
   "Famous_Release_date" text,
   PRIMARY KEY ("Artist_ID")
   )

2. Database: music_4
   Table: volume
   Schema:
   CREATE TABLE "volume" (
   "Volume_ID" int,
   "Volume_Issue" text,
   "Issue_Date" text,
   "Weeks_on_Top" real,
   "Song" text,
   "Artist_ID" int,
   PRIMARY KEY ("Volume_ID"),
   FOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)
   )


 [DEBUG]: == Working Agent: Senior Database SQL query Writer
 [INFO]: == Starting Task: Based on the searched database/table schemas, generate a SQL query to answer the following question:
Find the famous titles of artists that do not have any volume.


> Entering new CrewAgentExecutor chain...
I now can give a great answer

Final Answer:
```sql
SELECT DISTINCT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Volume_ID IS NULL;
```

> Finished chain.
 [DEBUG]: == [Senior Database SQL query Writer] Task output: ```sql
SELECT DISTINCT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Volume_ID IS NULL;
```


 [DEBUG]: == Working Agent: Senior Database SQL script Quality Control Engineer
 [INFO]: == Starting Task: Check the given sql query carefully, and refine the sql query to make it fulfill the needs of the following question:
Find the famous titles of artists that do not have any volume.


> Entering new CrewAgentExecutor chain...
I need to carefully analyze the given SQL query to refine it to meet the criteria of finding famous titles of artists that do not have any volume. I need to pay attention to any missing data fields, mismatched table schemas, syntax errors, and logic errors.

Action: Delegate work to co-worker
Action Input: {
    "coworker": "Senior Database SQL query Writer",
    "task": "Refine the SQL query to find famous titles of artists that do not have any volume",
    "context": "The relevant databases and tables related to famous titles of artists without any volume are provided: Database music_4 with tables artist and volume, along with their schemas."
}

> Entering new CrewAgentExecutor chain...
I now can give a great answer

Final Answer:

Sure, here is the refined SQL query to find famous titles of artists that do not have any volume:

```sql
SELECT artist.artist_name, artist.title
FROM artist
LEFT JOIN volume ON artist.artist_id = volume.artist_id
WHERE volume.volume IS NULL
AND artist.famous = 1;
```

This query will return the artist names and titles of the famous artists that do not have any associated volume records in the database music_4.

> Finished chain.


Sure, here is the refined SQL query to find famous titles of artists that do not have any volume:

```sql
SELECT artist.artist_name, artist.title
FROM artist
LEFT JOIN volume ON artist.artist_id = volume.artist_id
WHERE volume.volume IS NULL
AND artist.famous = 1;
```

This query will return the artist names and titles of the famous artists that do not have any associated volume records in the database music_4.

Final Answer:
```sql
SELECT artist.artist_name, artist.title
FROM artist
LEFT JOIN volume ON artist.artist_id = volume.artist_id
WHERE volume.volume IS NULL
AND artist.famous = 1;
```

> Finished chain.
 [DEBUG]: == [Senior Database SQL script Quality Control Engineer] Task output: ```sql
SELECT artist.artist_name, artist.title
FROM artist
LEFT JOIN volume ON artist.artist_id = volume.artist_id
WHERE volume.volume IS NULL
AND artist.famous = 1;
```


 [DEBUG]: == Working Agent: Chief Database Administrator
 [INFO]: == Starting Task: You will look over the sql query to insure that it is complete and does the job that it is supposed to do which is generating a SQL query to answer the following question:
Find the famous titles of artists that do not have any volume.


> Entering new CrewAgentExecutor chain...
I need to ensure that the SQL query I create is accurate and complete in order to find the famous titles of artists that do not have any volume.

Action: Delegate work to co-worker
Action Input:
{
  "coworker": "Senior Database SQL query Writer",
  "task": "Create SQL query to find famous titles of artists without any volume",
  "context": "I need a SQL query that will retrieve the famous titles of artists from the 'artist' table in the 'music_4' database who do not have any corresponding volumes in the 'volume' table. The 'artist' table has columns 'Artist_ID', 'Artist', 'Famous_Title', and 'Famous_Release_date'. The 'volume' table has columns 'Volume_ID', 'Volume_Issue', 'Issue_Date', 'Weeks_on_Top', 'Song', and 'Artist_ID'. The 'Artist_ID' column in the 'volume' table is a foreign key referencing the 'Artist_ID' column in the 'artist' table."
}


> Entering new CrewAgentExecutor chain...
I now can give a great answer

Final Answer:
```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL
```

> Finished chain.


```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL
```

Final Answer:
```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL
```
Database Name: music_4

> Finished chain.
 [DEBUG]: == [Chief Database Administrator] Task output: ```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL
```
Database Name: music_4

In [9]:
print(result)

```sql
SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL
```
Database Name: music_4

### Compare with gold result

In [10]:
import sqlite3

con = sqlite3.connect('spider/database/music_4/music_4.sqlite')
cursor = con.cursor()
cursor.execute("""SELECT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Artist_ID IS NULL""")
results = cursor.fetchall()
print(results)

[('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]

In [11]:
print(info['gold_result'])

[('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]