In [1]:
import warnings
warnings.filterwarnings('ignore')

### Prepare LLM

In [2]:
import json
import os
from typing import Annotated
from autogen import ConversableAgent, initiate_chats
from app.core.tools.semantic_search_tools import SemanticSearchTool

os.environ['OPENAI_API_KEY'] = 'your-openai-api-key'
llm_config = {"model": "gpt-3.5-turbo"}

# Notes: you can expand n_results to make sure the search results cover final tables, e.g., n_results=50
db_schema_search_tool = SemanticSearchTool(n_results=10)

### Prepare experiment data

In [3]:
from spider_env import SpiderEnv

spider = SpiderEnv(cache_dir='spider')

# select a random question in Spider
observation, info = spider.reset()
question = observation["instruction"]
print('question:', question)
print('gold query:', info['gold_query'])
print('gold result:', info['gold_result'])

Loading cached Spider dataset from spider
Schema file not found for spider/spider/database/twitter_1
Schema file not found for spider/spider/database/company_1
Schema file not found for spider/spider/database/chinook_1
Schema file not found for spider/spider/database/flight_4
Schema file not found for spider/spider/database/small_bank_1
Schema file not found for spider/spider/database/epinions_1
Schema file not found for spider/spider/database/icfp_1
question: Find the famous titles of artists that do not have any volume.
gold query: SELECT Famous_Title FROM artist WHERE Artist_ID NOT IN(SELECT Artist_ID FROM volume)
gold result: [('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]

### Create Agents

In [4]:
with open('app/core/agents/autogen.json') as f:
    agent_config = json.load(f)

search_agent = ConversableAgent(
    **agent_config['assistant_dba'],
    llm_config=llm_config,
    human_input_mode='NEVER'
)
sql_writer_agent = ConversableAgent(
    **agent_config['senior_sql_writer'],
    llm_config=llm_config,
    human_input_mode='NEVER'
)
qa_agent = ConversableAgent(
    **agent_config['senior_qa_engineer'],
    llm_config=llm_config,
    human_input_mode='NEVER'
)

# user proxy
user_proxy = ConversableAgent(
    name="Admin",
    system_message="Give the question, and send instructions to SQL writer to generate a sql query script.",
    code_execution_config=False,
    llm_config=llm_config,
    human_input_mode='NEVER'
)

### Register Tools

In [5]:
@search_agent.register_for_llm(description='Function for searching relevant database/table schemas')
@user_proxy.register_for_execution()
def semantic_search(
    question: Annotated[str, 'A question'] 
) -> Annotated[str, 'Result of relevant table schemas to the question']:
    return db_schema_search_tool(question)

### Prepare SequenceChat

In [6]:
chats = [
    {
        "sender": user_proxy,
        "recipient": search_agent,
        "message": f'Find the relevant table schemas to the question: {question}',
        "summary_method": "reflection_with_llm",
        "max_turns": 2,
        "clear_history" : True
    },
    {
        "sender": search_agent,
        "recipient": sql_writer_agent,
        "message": f'Based on the table schemas, write a SQL query script to answer the question: {question}',
        "summary_method": "reflection_with_llm",
        "summary_args": {
            "summary_prompt" : "Return the target database and SQL query script into as JSON object only, DO NOT explain reason: "
                             "{'database': '', 'sql': ''}",
        },
        "max_turns": 1,
        "clear_history" : False
    },
    {
        "sender": sql_writer_agent,
        "recipient": qa_agent,
        "message": f'Review the SQL query script to be sure it can answer the question: {question}',
        "max_turns": 1,
        "summary_method": "reflection_with_llm",
        "summary_args": {
            "summary_prompt" : "If the SQL query script has to be adjusted. Fix the SQL query script."
                             "Return the target database and SQL query script into as JSON object only, DO NOT explain reason: "
                             "{\"database\": \"\", \"sql\": \"\"}",
        },
    },
]

### Initiate Chat

In [7]:
chat_results = initiate_chats(chats)

********************************************************************************
Starting a new chat....

********************************************************************************
Admin (to Assistant_Search_Engineer):

Find the relevant table schemas to the question: Find the famous titles of artists that do not have any volume.

--------------------------------------------------------------------------------
Assistant_Search_Engineer (to Admin):

***** Suggested tool call (call_LukfK6QZPFf4i3jHDfsJNZuo): semantic_search *****
Arguments:
{"question":"Find the famous titles of artists that do not have any volume."}
********************************************************************************

--------------------------------------------------------------------------------

>>>>>>>> EXECUTING FUNCTION semantic_search...
Admin (to Assistant_Search_Engineer):

Admin (to Assistant_Search_Engineer):

***** Response from calling tool (call_LukfK6QZPFf4i3jHDfsJNZuo) *****
{"database": "theme_gallery", "table": "artist", "schema": "CREATE TABLE \"artist\" (\n\"Artist_ID\" int,\n\"Name\" text,\n\"Country\" text,\n\"Year_Join\" int,\n\"Age\" int,\nPRIMARY KEY (\"Artist_ID\")\n)"}

{"database": "music_4", "table": "artist", "schema": "CREATE TABLE \"artist\" (\n\"Artist_ID\" int,\n\"Artist\" text,\n\"Age\" int,\n\"Famous_Title\" text,\n\"Famous_Release_date\" text,\nPRIMARY KEY (\"Artist_ID\")\n)"}

{"database": "chinook_1", "table": "Album", "schema": "CREATE TABLE `Album` (\n  `AlbumId` integer NOT NULL\n,  `Title` varchar(160) NOT NULL\n,  `ArtistId` integer NOT NULL\n,  PRIMARY KEY (`AlbumId`)\n,  CONSTRAINT `FK_AlbumArtistId` FOREIGN KEY (`ArtistId`) REFERENCES `Artist` (`ArtistId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "chinook_1", "table": "Track", "schema": "CREATE TABLE `Track` (\n  `TrackId` integer NOT NULL\n,  `Name` varchar(200) NOT NULL\n,  `AlbumId` integer DEFAULT NULL\n,  `MediaTypeId` integer NOT NULL\n,  `GenreId` integer DEFAULT NULL\n,  `Composer` varchar(220) DEFAULT NULL\n,  `Milliseconds` integer NOT NULL\n,  `Bytes` integer DEFAULT NULL\n,  `UnitPrice` decimal(10,2) NOT NULL\n,  PRIMARY KEY (`TrackId`)\n,  CONSTRAINT `FK_TrackAlbumId` FOREIGN KEY (`AlbumId`) REFERENCES `Album` (`AlbumId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n,  CONSTRAINT `FK_TrackGenreId` FOREIGN KEY (`GenreId`) REFERENCES `Genre` (`GenreId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n,  CONSTRAINT `FK_TrackMediaTypeId` FOREIGN KEY (`MediaTypeId`) REFERENCES `MediaType` (`MediaTypeId`) ON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "chinook_1", "table": "Artist", "schema": "CREATE TABLE `Artist` (\n  `ArtistId` integer NOT NULL\n,  `Name` varchar(120) DEFAULT NULL\n,  PRIMARY KEY (`ArtistId`)\n)"}

{"database": "music_1", "table": "artist", "schema": "CREATE TABLE artist(\n\tartist_name varchar2(50) not null,\n\tcountry varchar2(20),\n\tgender varchar2(20),\n\tpreferred_genre varchar2(50),\n\tconstraint a_name primary key(artist_name),\n\tforeign key(preferred_genre) references genre(g_name) ON DELETE CASCADE\n)"}

{"database": "music_4", "table": "volume", "schema": "CREATE TABLE \"volume\" (\n\"Volume_ID\" int,\n\"Volume_Issue\" text,\n\"Issue_Date\" text,\n\"Weeks_on_Top\" real,\n\"Song\" text,\n\"Artist_ID\" int,\nPRIMARY KEY (\"Volume_ID\"),\nFOREIGN KEY (`Artist_ID`) REFERENCES `artist`(`Artist_ID`)\n)"}

{"database": "store_1", "table": "albums", "schema": "CREATE TABLE albums\n(\nid INTEGER PRIMARY KEY AUTOINCREMENT,\ntitle VARCHAR(160)  NOT NULL,\nartist_id INTEGER  NOT NULL,\nFOREIGN KEY (artist_id) REFERENCES artists (id)\nON DELETE NO ACTION ON UPDATE NO ACTION\n)"}

{"database": "singer", "table": "singer", "schema": "CREATE TABLE \"singer\" (\n\"Singer_ID\" int,\n\"Name\" text,\n\"Birth_Year\" real,\n\"Net_Worth_Millions\" real,\n\"Citizenship\" text,\nPRIMARY KEY (\"Singer_ID\")\n)"}

{"database": "music_1", "table": "files", "schema": "CREATE TABLE files(\n\tf_id number(10) not null,\n\tartist_name varchar2(50),\n\tfile_size varchar2(20),\n\tduration varchar2(20),\n\tformats varchar2(20),\n\tprimary key(f_id),\n\tforeign key(artist_name) references artist(artist_name) ON DELETE CASCADE\n)"}

**********************************************************************

--------------------------------------------------------------------------------
Assistant_Search_Engineer (to Admin):

### Relevant Table Schemas:

1. **Database: music_4**
   - Table: artist
     - Columns:
       - Artist_ID (int)
       - Artist (text)
       - Age (int)
       - Famous_Title (text)
       - Famous_Release_date (text)

2. **Database: music_4**
   - Table: volume
     - Columns:
       - Volume_ID (int)
       - Volume_Issue (text)
       - Issue_Date (text)
       - Weeks_on_Top (real)
       - Song (text)
       - Artist_ID (int)

Please let me know if you need more information or assistance with these table schemas.

--------------------------------------------------------------------------------

********************************************************************************
Starting a new chat....

********************************************************************************
Assistant_Search_Engineer (to Senior_Database_SQL_query_Writer):

Based on the table schemas, write a SQL query script to answer the question: Find the famous titles of artists that do not have any volume.
Context:
### Relevant Table Schemas:

1. **Database: music_4**
   - Table: artist
     - Columns:
       - Artist_ID (int)
       - Artist (text)
       - Age (int)
       - Famous_Title (text)
       - Famous_Release_date (text)

2. **Database: music_4**
   - Table: volume
     - Columns:
       - Volume_ID (int)
       - Volume_Issue (text)
       - Issue_Date (text)
       - Weeks_on_Top (real)
       - Song (text)
       - Artist_ID (int)

--------------------------------------------------------------------------------
Senior_Database_SQL_query_Writer (to Assistant_Search_Engineer):

```sql
SELECT DISTINCT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Volume_ID IS NULL
AND a.Famous_Title IS NOT NULL;
```

--------------------------------------------------------------------------------

********************************************************************************
Starting a new chat....

********************************************************************************
Senior_Database_SQL_query_Writer (to Senior_Database_SQL_script_Quality_Assurance_Engineer):

Review the SQL query script to be sure it can answer the question: Find the famous titles of artists that do not have any volume.
Context:
### Relevant Table Schemas:

1. **Database: music_4**
   - Table: artist
     - Columns:
       - Artist_ID (int)
       - Artist (text)
       - Age (int)
       - Famous_Title (text)
       - Famous_Release_date (text)

2. **Database: music_4**
   - Table: volume
     - Columns:
       - Volume_ID (int)
       - Volume_Issue (text)
       - Issue_Date (text)
       - Weeks_on_Top (real)
       - Song (text)
       - Artist_ID (int)
{'database': 'music_4', 'sql': 'SELECT DISTINCT a.Famous_Title FROM artist a LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID WHERE v.Volume_ID IS NULL AND a.Famous_Title IS NOT NULL;'}

--------------------------------------------------------------------------------
Senior_Database_SQL_script_Quality_Assurance_Engineer (to Senior_Database_SQL_query_Writer):

I have reviewed the provided SQL query to find the famous titles of artists that do not have any volume, and here are my findings:

1. The SQL query looks logically correct and is structured properly.
2. It correctly uses a LEFT JOIN between the `artist` and `volume` tables on the `Artist_ID` column to ensure that all artists are included in the results, even if they do not have any corresponding volumes.
3. The condition `WHERE v.Volume_ID IS NULL` is appropriate for identifying artists without any volumes.
4. The condition `AND a.Famous_Title IS NOT NULL` ensures that only artists with famous titles are included in the result set.

However, here are some recommendations for improvement:

1. The query uses the `SELECT DISTINCT` clause. While this can be useful to eliminate duplicate results, it's better to use it only when necessary. Since we are looking for distinct famous titles, it seems appropriate in this case.

2. Since we are interested in famous titles that do not have any volume, it might be beneficial to add a condition to filter out artists who have famous titles but with associated volumes. To achieve this, you can add an additional condition such as `AND v.Artist_ID IS NULL` to ensure that the famous title retrieved does not correspond to any volume.

3. Ensure there are no syntax errors before running the query in the database environment to avoid any execution failures.

Adjusted SQL Query:
```sql
SELECT DISTINCT a.Famous_Title
FROM artist a
LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID
WHERE v.Volume_ID IS NULL AND a.Famous_Title IS NOT NULL AND v.Artist_ID IS NULL;
```

With these adjustments, the SQL query should effectively retrieve the famous titles of artists that do not have any volumes as required.

--------------------------------------------------------------------------------

In [8]:
print(chat_results[-1].summary)

{"database": "music_4", "sql": "SELECT DISTINCT a.Famous_Title FROM artist a LEFT JOIN volume v ON a.Artist_ID = v.Artist_ID WHERE v.Volume_ID IS NULL AND a.Famous_Title IS NOT NULL AND v.Artist_ID IS NULL;"}

### Compare with gold result

In [9]:
import sqlite3

summary = json.loads(chat_results[-1].summary)
con = sqlite3.connect(f"spider/spider/database/{summary['database']}/{summary['database']}.sqlite")
cursor = con.cursor()
cursor.execute(summary['sql'])
results = cursor.fetchall()
print(results)

[('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]

In [10]:
print(info['gold_result'])

[('Antievangelistical Process (re-release)',), ('Antithesis of All Flesh',)]